<md-card>
  <form (submit)="register($event)" #registerForm="ngForm">
    <md-toolbar>Register page</md-toolbar>
    <md-input-container id="username-input">
      <input mdInput placeholder="Email" [(ngModel)]="email" name="email" required>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Fullname" [(ngModel)]="fullName" name="fullName" required>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Password confirmation" [(ngModel)]="passwordConfirmation" name="password" type="password" required>
    </md-input-container>
    <p id="errorMessage">{{errorMessage}}</p>
    <button type="submit" md-button>Register</button>
  </form>
</md-card>
