

md-list-item * {
  margin-left: 40px;
}

.user-emails {
  margin-left: 0 !important;
  color: #607D8B;
}

h3 {
  float: left;
  margin-bottom: 30px;
  color: #673AB7;
}

.special {
  color: #80CBC4;
}

i {
  margin-left: 0 !important;
}

.user-fixed {
  display: inline-block;
  min-width: 140px;
  width: 140px;
  margin-left: 20px !important;
}

.chat-button {
  background-color: #673AB7 !important;
  font-size: 10pt;
  width: 40px;
  height: 40px;
  float: right;
}

#create-dialog-button {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

#dialog-info {
  width: 100%;
  overflow: auto;
}
